<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div>
        <h2>Akademia</h2>
    </div>
    <ul >
        <li>
            <a href="">Cars</a>
        </li>
        <li>
            <a href="">Engines</a>
        </li>
        <li>
            <a href="" >Wheels</a>
    </ul>
    </nav>
<div >

    <div >
            <h2 >CARS</h2>
            <button>
                <a href="" >Add Car</a>
            </button>

    </div>
</div>

    <table>
        <thead >
        <tr>
            <th >
                ID
            </th>
            <th >
                Name
            </th>
            <th >
                From year
            </th>
            <th >
                To Year
            </th>
            <th >
                Type
            </th>

            <th >
                Engine Power
            </th>
            <th >
                Engine Type
            </th>
            <th >
                Wheels Size
            </th>
            <th >
                Wheels Type
            </th>
            <th >
                <span >Edit</span>
            </th>
            <th >
                <span >Delete</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                1
            </td>
            <td >
                Aspire
            </td>
            <td >
                1994
            </td>
            <td >
                1997
            </td>
            <td >
                subcompact
            </td>
            <td >
                1400
            </td>
            <td >
                GAS
            </td>
            <td >
                R15
            </td>
            <td >
                STEEL
            </td>
            <td class="">
                <a href="" >Edit</a>
            </td>
            <td >
                <a href="" >Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
</body>
