<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div>
        <h2>Akademia</h2>
    </div>
    <ul >
        <li>
            <a href="">Engines</a>
        </li>
        <li>
            <a href="">Engines</a>
        </li>
        <li>
            <a href="" >Wheels</a>
    </ul>
</nav>
<div >
    <h2>Wheels Registration</h2>

    <form>

        <input   type="hidden"/>
        <input  type="text" placeholder="Wheel Type "/>
        <input  type="text" placeholder="Wheel Size" />
        <div>
            <button type="submit"  >Submit</button>
        </div>
    </form>
    <!-- Code block form end -->
</div>
</body>
