<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div>
        <h2>Akademia</h2>
    </div>
    <ul >
        <li>
            <a href="">Engines</a>
        </li>
        <li>
            <a href="">Engines</a>
        </li>
        <li>
            <a href="" >Wheels</a>
    </ul>
</nav>
<div >

    <div >
        <h2 >Wheels</h2>
        <button>
            <a href="" >Add Wheel</a>
        </button>

    </div>
</div>

<table>

    <thead >
    <tr>
        <th >
            ID
        </th>
        <th >
            Wheel Size
        </th>
        <th >
            Wheel Type
        </th>
        <th >
            <a href="#" >Edit</a>
        </th>
        <th>
            <a href="#" >Delete</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <th >
            1
        </th>
        <td >
            1400
        </td>
        <td >
            GAS
        </td>
        <td >
            <a href="#" >Edit</a>
        </td>
        <td >
            <a href="#" >Delete</a>
        </td>
    </tr>
    <tr >
        <th>
            1
        </th>
        <td >
            2200
        </td>
        <td >
            DIESEL
        </td>
        <td >
            <a href="#" >Edit</a>
        </td>
        <td>
            <a href="#" >Delete</a>
        </td>
    </tr>
    <tr>
        <th >
            1
        </th>
        <td>
            1800
        </td>
        <td >
            GASOLINE
        </td>
        <td >
            <a href="#" >Edit</a>
        </td>
        <td >
            <a href="#" >Delete</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
